bot/
bot
.env/

.idea/
*.iml
*.log
*.pyc
__pycache__/
venv/
env/
.DS_Store
*.sqlite3
*.db
*.env
*.pem
*.key
*.crt
*.pfx       
*.p12
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.tar.bz2
*.7z
*.log
*.out
*.err
*.log.*
*.log.*
